@font-face {
    font-family: craie;
    src: url("../font/MontegoBay.ttf");
}

/* search bar  */
.search {
    margin-top: 120px !important;
    margin-bottom: 10px;
}
#searchbar {
    width: 200px;
}
/* category */
.boxcat {
    position: relative;

}
.catbackground {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    border: solid 2px rgba(0, 0, 0, 0.432);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.432);
    z-index: 1;
    transition: transform .1s;
}
.boxcat:hover {
    -ms-transform: scale(0.99) translate(2px);
    -webkit-transform: scale(0.99) translate(2px);
    transform: scale(0.99) translate(2px);
}
.catname {
    font-size: 4rem;
    font-family: 'craie';
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: 4px 0px 4px #9e0e40, 0 0 1em #9e0e40 , 0 0 0.2em #ff0059f3;
    left: 10px;
    top: -5px;
}

.animcategory:hover p {
    color: rgba(209, 205, 205, 0.733) !important;
}

.boxsize {
    position: block;
    height: 255px; 
    width: 255px;
}
